@import "../../styles/variables";

.SkipToMainContent {
    background: #fff;
    color: #000;
    font-weight: 700;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    transform: translateY(-100%);
    @include open-medium;

    &:focus {
        transform: translateY(0%);
        margin: 1rem
    }
}
